<aside *ngIf="sideMenuVisibility" (click)="sideMenuToggle()">
  <div class="containerAsideBtn">
    <button class="btn btn-light asideBtn" (click)="sortByName()">Сортировка по имени</button>
    <button class="btn btn-light asideBtn" (click)="sortByABV()">Сортировка по количеству спирта</button>
    <button class="btn btn-light asideBtn" (click)="modalToggle()">Показать отмеченные</button>
  </div>
</aside>
<div class="d-flex justify-content-center" *ngIf="!dataList" [ngStyle]="{'margin-top':'65px'}">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="mainList">
  <div class="itemBeer" *ngFor="let item of dataList">
    <div class="name">{{item.name}}</div>
    <div class="imgItem"><img src="{{item.image_url}}"></div>
    <div class="descr">{{item.description}}</div>
    <div class="abv">Количество спирта: {{item.abv}}%
      <input class="checkBox" type="checkbox" [checked]="item.checked" (click)="checkBoxToggle(item)">
    </div>
  </div>
</div>
<modal (onChanged)="modalToggle()" [modalVisibility]="modalVisibility">
</modal>
<my-pagination>
</my-pagination>


