<div class="pagination" >
  <div class="description">
  </div>
  <div class="numbers">
    <button class="link">
      <div *ngIf="getCurrentPage()!=1" (click)="setPrevPage()">&lt; Previous</div>
    </button>

    <button class="btn btn-secondary"
      *ngFor="let pageNum of showNumbersOfPages()"
      (click)="showNumbersOfPages(pageNum)"
            (click)="setPageOnDataService()">
      <div [ngClass]="pageNum===getCurrentPage() ? {selectedPageInPag:true} : {selectedPageInPag:false}">{{ pageNum }}</div>
    </button>
    <button class="link">
      <div *ngIf="showNextPageBtn()" (click)="setNextPage()">Next ></div>
    </button>
  </div>
</div>
