:host {
  flex: 0 0 30px;
  display: flex;
}

.btn-secondary{
  margin: 0 10px;
}

.pagination {
  width: 100%;
  height: 50px;
  position: relative;
  flex: 1;
  background: #bebebe;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numbers {
  display: block;
  text-align: center;
  flex: 1;
}

button {
  flex: 0 0 auto;
  outline: none;
  border: 0;
  padding: 0 ;
  background: transparent;
  cursor: pointer;
}

.active {
@extend . h6;
}

.disabled {
@extend . link-disabled;
  color: lightgrey;
}
