<div class="pagination" >
  <div class="description">
  </div>
  <div class="numbers">
    <button class="link">
      <div *ngIf="page!=1" (click)="showNumbersOfPages((page)-1)">&lt; Previous</div>
    </button>

    <button class="btn btn-secondary"
      *ngFor="let pageNum of showNumbersOfPages()"
      (click)="showNumbersOfPages(pageNum)">
      <div *ngIf="pageNum===(page)" [ngStyle]="{'font-size':'23px', 'color':'black'}">{{ pageNum }}</div>
      <div *ngIf="pageNum!=(page)">{{ pageNum }}</div>
    </button>
    <button class="link">
      <div *ngIf="page >= 1 && page!=30" (click)="showNumbersOfPages((page)+1)">Next ></div>
    </button>
  </div>
</div>
